<div class="col-md-6 offset-md-3">
  <h2>sign up!</h2>
  <%= form_with model: @user, url: sign_up_path do |f| %>
    <%= render partial: "shared/user_form", locals: {f: f, sign_in: true} %>
  <% end %>
</div>